.vk {
  color: aliceblue;
  text-shadow: 0 0 5px #009688;
}
.exam {
  color: aliceblue;
  text-shadow: 0 0 5px #009688;
}

/* a {
  text-decoration: none;
} */

/* .fa-wordpress,
.fa-facebook-official,
.fa-github,
.fa-twitter,
.fa-twitter{
  color: aliceblue;
} */