.vk {
  color: #47bb6040;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  
}
.exam {
  color: aliceblue;
  text-shadow: 0 0 5px #009688;
}

.nuorodos {
  text-decoration: none;
  color: #009688;
}

.nuorodos:hover {
  color: #03ccb8;
}

/* a {
  text-decoration: none;
} */

/* .fa-wordpress,
.fa-facebook-official,
.fa-github,
.fa-twitter,
.fa-twitter{
  color: aliceblue;
} */